body{
    background-color: rgb(210, 250, 213);
}
.fa-angle-double-left, .fa-angle-double-right{
    color: black
}
.cover{
    width: 650px;
    height: 650px;
}
h4{
    color: black;
}
.navbar, h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}